# lists
royalroad.htm	linguist-generated=true
webnovel.htm	linguist-generated=true
wlnupdates.htm	linguist-generated=true
news.htm	linguist-generated=true
# json data
royalroad/_books.json linguist-generated=true
royalroad/_order.json	linguist-generated=true
webnovel/_books.json	linguist-generated=true
webnovel/_order.json	linguist-generated=true
webnovel/_history.json	linguist-generated=true
webnovel/_collection.json	linguist-generated=true
webnovel/_subname.json	linguist-generated=true
webnovel/_subnames.json	linguist-generated=true
wlnupdates/_books.json	linguist-generated=true
wlnupdates/_list.json	linguist-generated=true
wlnupdates/_order.json	linguist-generated=true
# correspondances & names & positions
correspondances.json	linguist-generated=true
correspondances_rr.json	linguist-generated=true
correspondances_wln.json	linguist-generated=true
correspondances_wn.json	linguist-generated=true
names.json.json  linguist-generated=true
pos.json  linguist-generated=true
pos_dev1.json  linguist-generated=true
pos_dev9.json  linguist-generated=true
pos_old.json  linguist-generated=true
pos_others.json  linguist-generated=true
wn_diff.json	linguist-generated=true
# dropbox data
dropbox/dropbox.zip	linguist-generated=true -diff -merge -text
# others
composer.lock	linguist-generated=true
Gemfile.lock	linguist-generated=true
webnovel_data.htm	linguist-generated=true

