*.bak
*.conf
*.htm*
*.ini
*.js
*.json
!composer.json
!filters.json
*.lnk
*.py
*.sh
!db.sh
!ga-*.sh
*.txt
royalroad/*
!royalroad/_*.json
webnovel/*
!webnovel/_*.json
wlnupdates/*
!wlnupdates/_*.json

_site
.sass-cache
.jekyll-metadata
.jekyll-cache

